.section {
    /* display: flex; */
    flex-direction: column;
    gap: 28px;
    background: #EFEFEF;
    border-radius: 16px;
    padding: 36px 32px;
    width: 100%;
}

.title {
    font-size: 30px;
    font-weight: 700;
    color: #121212;
    line-height: 1.2;
}

.cardGrid {
    /* display: flex; */
    gap: 16px;
}
