.section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 50px;
    font-weight: 700;
    color: #121212;
    line-height: 1;
}

.viewAll {
    font-size: 30px;
    color: #121212;
    text-decoration: underline;
    font-weight: 300;
}

.cardGrid {
    display: flex;
    gap: 17px;
}
