.container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.upper {
  background: #fff6fd;
  border-radius: 20px;
  min-height: 523px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.upper_left {
  max-width: 50%;
  padding: 105px 0 105px 60px;
}
.upper_left_container {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  gap: 40px;
}
.upper_text {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
#send {
  height: 45px;
  margin-left: 15px;
}
#expectations {
  display: flex;
  justify-content: end;
}
h2 {
  font-size: 60px;
}
.upper_left p {
  font-size: 30px;
  line-height: 120%;
}
.upper button {
  display: flex;
  align-items: center;
  background: #121212;
  color: #ffffff;
  padding: 0 5px;
  font-size: 32px;
}
.upper_button button {
  border: none;
  border-radius: 71px;
  padding: 11px 44px;
}
.send {
  display: flex;
}
.upper_right {
  max-width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.upper_right img {
  max-width: 443px;
}
.lower {
  background: #f0f0f0;
  max-height: 628px;
}
.lower_container {
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
h1 {
  font-size: 50px;
}
.lower_container_inner {
  display: flex;
  gap: 30px;
}
.lower_left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lower_left img {
  width: 100%;
  max-height: 427px;
  min-height: auto;
}
.lower_right {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 30px;
}
.lower_right_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lower_right button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  border: none;
  background: #ffffff;
  color: #111111;
  border-radius: 71px;
  padding: 11px 44px;
}
.lower_right button span {
  margin-left: 15px;
}
.title {
  font-size: 27px;
  font-weight: 400;
}
.description {
  line-height: 150%;
  font-size: 27px;
  font-weight: 300;
}
