.card {
   flex: 1;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 36px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* min-width: 0;*/
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-size: 25px;
}

.avatar {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    flex-shrink: 0;
}

.title {
    font-weight: bold;
}

.review {
    color: #444444;
}

.reviewer {
    font-weight: 700;
    color: #121212;
}
