.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 34px;
    position: relative;
}
.common {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.py-100{
    padding: 100px 0;
}

.navLinks {
    display: flex;
    gap: 24px;
}

.navLinks a {
    text-decoration: none;
    color: #545454;
    font-size: 2vw;
}

.icons {
    display: flex;
    gap: 16px;
}

.icons button {
    height: 40px;
    width: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.icons button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.categories {
    display: flex;
    gap: 10px;
}

.categories button {
    background: #EFEFEF;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.5vw;
    color: #121212;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 38px;
    height: 38px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
}   

@media (max-width: 901px){
    .navLinks {
        display: none
    }
    .iconsTop{
        display: none;
    }
    .hamburger{
        display: block;
        width: 40px;
        height: 40px;
        padding: 0;
    }
}

@media (max-width: 769px) {
    .navLinks {
        display: none;
    }

    .iconsTop {
        display: none;
    }

    .hamburger {
        display: block;
        width: 40px;
        height: 40px;
        padding: 0;
    }
    .categories button {
        font-size: 2vmax;
    }
}

@media (max-width: 426px) {
    .logo img{
        height: 45px;
        width: 178px;
    }
    .navbar {
        padding: 16px 16px 0 16px;
    }

    .common:last-of-type {
        display: none;
    }
}

@media (max-width: 320px) {
    .mobileNavLinks a {
        font-size: 14px;
    }

    .hamburger {
        width: 32px;
        height: 32px;
    }
}

@media (min-width : 1450px){
    .navLinks a{
        font-size: 2rem;
    }
    .categories button {
        font-size: 1.8rem;
    }
}