.navbar {
  
  display: flex;
  flex-direction: column;
  opacity: 1;
  gap: 34px;
}

.common {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLinks{
    display: flex;
    gap: 32px;
}
.navLinks a{
    text-decoration: none;
    color:  #545454;
    font-size: 25px;
    letter-spacing: 1%;
}
.icons{
    display: flex;
    gap: 20px;
}
.icons button{
    height: 50px;
    width: 50px;
    background: transparent;
    font-size: 25px;
    font-weight: 300;
    border: none;
}
.categories{
    display: flex;
    gap: 12px;
}
.categories button{
    background: #EFEFEF;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 300;
    color: #121212;

}