.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.section {
  width: 100%;
  background: linear-gradient(261.99deg, #D1068C -18.97%, #1310A6 43.5%, #7E1B5C 102.32%);

  border-radius: 20px;
  padding: 50px 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.topText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  /* text-align: center; */
}

.headline {
  font-size: 60px;
  color: #ffffff;
}

.subline {
  font-size: 38px;
  color: #ffffff;
}

.countdown {
  font-size: 86px;
  color: #ffffff;
  text-align: center;
  line-height: 120%;
}
.btndiv{
    display: flex;
    justify-content: center;
}
.arrowIcon{
    display: flex;

}
.shopBtn {
  background: #ffffff;
  border: none;
  border-radius: 70px;
  display: flex;
  gap: 8px;
  padding: 10px 20px;
  font-size: 32px;
  white-space: nowrap;
}
